<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/master.css"/>
		<link rel="stylesheet" type="text/css" href="../css/my.css"/>
		<script src="../js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<header class="header">
			<div class="wrapper">
				<nav>
					<a href="../index.html" class="logoImg">
					<img src="../other/master/logo.png"/>
					</a>
					<ul class="nav">
						<li><a href="phone.html">手机</a></li>
						<li><a href="#">配件</a></li>
						<li><a href="#">V币商品</a></li>
						<li><a href="#">服务</a></li>
						<li><a href="#">社区</a></li>
						<li><a href="#">官网</a></li>
					</ul>
					<div class="search-user">
						<ul>
							<li class="search">
								<a href="">
									<b></b>
								</a>
							</li>
							<li class="user">
								<a href="">
									<b></b>
								</a>
							</li>
							<li class="shopCar">
								<a href="shoppingcar.html">
									<b></b>
									<span class="shopcart-num">0</span>
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		
		<div class="main">
			<div class="content">
				<div class="crumbs">
					您的位置是:<a href="../index.html">首页</a>
					<b></b>
					会员中心
				</div>
			</div>
			<div class="content">
				<aside class="menu-bar">
					<ul class="portrait-box">
						<li>
							<a href="" title="编辑资料">
								<img src="../other/my/header_phone.jpg"/>
							</a>
						</li>
						<li class="mem-name">
							<i></i>
							杨宇辉5201314
						</li>
						<li class="vcoin-info">
							我的V币:
							<a href="">
								<span class="red">0</span>
							</a>
							V币
						</li>
					</ul>
					<dl class="menu">
						<dt>
							<i class="icon-deal"></i>
							交易管理
						</dt>
						<dd><a href="">我的订单</a></dd>
						<dd><a href="">退/换货</a></dd>
						<dd><a href="">我的中奖</a></dd>
						<dd><a href="">我的兑换</a></dd>
						
						<dt>
							<i class="icon-evaluation"></i>
							评价管理
						</dt>
						<dd><a href="">未评价商品</a></dd>
						<dd><a href="">我的评论</a></dd>
						
						<dt>
							<i class="icon-evaluation"></i>
							我的账户
						</dt>
						<dd><a href="">个人资料</a></dd>
						<dd><a href="">收货地址</a></dd>
						<dd><a href="">我的V币</a></dd>
						<dd><a href="">我的优惠券</a></dd>
						<dd><a href="">我的收藏</a></dd>
					</dl>
				</aside>
				<article class="c">
					<dl class="member-order-list">
						<dt>我的订单</dt>
						<dd>
							<ul class="statistic-tags">
								<li class="on">
									<a href="">全部</a>
								</li>
								<li>
									<a href="">代付款(0)</a>
								</li>
								<li>
									<a href="">待收货(0)</a>
								</li>
								<li>
									<a href="">已完成(0)</a>
								</li>
								<li>
									<a href="">已关闭(1)</a>
								</li>
							</ul>
							<div class="list-caption">
								<div class="col col10">商品</div>
								<div class="col col11">数量</div>
								<div class="col col12">价格</div>
								<div class="col col13">状态</div>
								<div class="col col14">操作</div>
							</div>
							<table class="order-table">
								<tbody>
									<tr>
										<th colspan="6">
											<ul>
												<li class="order-number">
													订单号:
													<a href="">16091844957375520292</a>
												</li>
												<li class="order-time">
													成交时间:
                            						2016-09-18 12:29:17
												</li>
											</ul>
										</th>
									</tr>
									<tr class="prod-line">
										<td rowspan="2" class="prod-pic">
											<a href="">
												<img src="../other/my/4089_1472203291287_100x100.png"/>
											</a>
										</td>
										<td class="prod-name">
											<a href="" title="【火爆热销】X7Plus全网通">
												【火爆热销】X7Plus全网通
											</a>
												<br />
												颜色:金色
										</td>
										<td>1</td>
										<td>2978.00</td>
										<td rowspan="2" class="status">已关闭</td>
										<td rowspan="2" class="operation">
											<ul>
												<li>
													<a href="">查看订单</a>
												</li>
											</ul>
										</td>
									</tr>
									<tr>
										<td colspan="3">
											<table class="attach-table">
												<tbody>
													<tr class="gift" valign="middle">
														<td class="title">【赠品】：</td>
														<td class="name">
															<a href="">
																<div class="figure">
																	<img src="../other/my/1897_1453712386055_100x100.png"/>
																</div>
																<p>【飞蝗】蓝牙自拍杆</p>
															</a>
														</td>
														<td>1</td>
														<td>88.00</td>
													</tr>
													<tr class="gift" valign="middle">
														<td class="title"></td>
														<td class="name">
															<a href="">
																<div class="figure">
																	<img src="../other/my/1897_1453712386055_100x100.png"/>
																</div>
																<p>【飞蝗】蓝牙自拍杆</p>
															</a>
														</td>
														<td>1</td>
														<td>88.00</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr class="operation-line">
										<td colspan="6">
											总计: <span class="red"><dfn>¥</dfn>2798.00</span>
											(含运费:
												<dfn>¥</dfn>
												0.00 优惠: <dfn>¥</dfn>0.00
											)
										</td>
									</tr>
									<!--<tr>4</tr>-->
								</tbody>
							</table>
						</dd>
					</dl>
				</article>
			</div>
			
		</div>
		
		<footer>
			<div class="shop-agree">
				<div class="wrapper cl">
					<ul>
						<li>
							<a href="">
								<b class="b1"></b>
								<p>
									<span>0</span>
									运费购手机
								</p>
							</a>
						</li>
						<li>
							<a href="">
								<b class="b2"></b>
								<p>
									<span>30</span>
									天无理由退款
								</p>
							</a>
						</li>
						<li>
							<a href="">
								<b class="b3"></b>
								<p>
									电子发票
								</p>
							</a>
						</li>
						<li>
							<a href="">
								<b class="b4"></b>
								<p>
									<span>380</span>
									余家售后服务中心
								</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="shop-help">
				<div class="wrapper">
					<dl>
						<dt>
							<b class="b1"></b>
							购买流程
						</dt>
						<dd><a href="">支付宝支付</a></dd>
						<dd><a href="">发票说明</a></dd>
						<dd><a href="">优惠价说明</a></dd>
						<dd><a href="">花呗分期</a></dd>
					</dl>
					<dl>
						<dt>
							<b class="b2"></b>
							配送方式
						</dt>
						<dd><a href="">配送方式</a></dd>
						<dd><a href="">配送费用</a></dd>
						<dd><a href="">签收须知</a></dd>
					</dl>
					<dl>
						<dt>
							<b class="b3"></b>
							服务支持
						</dt>
						<dd><a href="">服务保证</a></dd>
						<dd><a href="">售后服务</a></dd>
						<dd><a href="">售后网点查询</a></dd>
						<dd><a href="">碎屏保</a></dd>
						<dd><a href="">手机延保</a></dd>
					</dl>
					<dl>
						<dt>
							<b class="b4"></b>
							品牌服务
						</dt>
						<dd><a href="">常见问题</a></dd>
						<dd><a href="">相关下载</a></dd>
						<dd><a href="">联系我们</a></dd>
					</dl>
					<dl>
						<dt>
							<b class="b5"></b>
							小V在线时段
						</dt>
						<dd>周一至周五 08:00-21:00</dd>
						<dd>周六、周日 09:00-18:00</dd>
						<dd class="online-service">
							<a href="">
								<img src="../other/master/online-service.png"/>
							</a>
						</dd>
					</dl>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="wrapper">
					<div class="sns-box">
						成为vivo粉丝:
						<a href="" class="a1"><b></b></a>
						<a href="" class="a2"><b></b></a>
						<a href="" class="a3"><b></b></a>
						<a href="" class="a4">
							<b></b>
							<div>
								<img src="../other/master/weixin-ico.jpg"/>
								<em></em>
							</div>
						</a>
					</div>
					<div class="copy-info">
						<a href="" class="footer-logo"></a>
						Copyright ©2011-2016 广东步步高电子工业有限公司
						<br />
						版权所有 保留一切权利粤B2-20080267 | 
						<a href="">粤ICP备05100288号</a>
					</div>
				</div>	
			</div>
		</footer>
		
		<div class="side-bar">
			<ul>
				<li>
					<a href="" class="service">
						<div>
							在线客服
						</div>
					</a>
				</li>
				<li>
					<a href="" class="qrcode">
						<div>
							<img src="../other/master/qrcode_6a6b792.png" alt="" />
							<p>
								支付宝扫码<br />关注最新活动福利
							</p>
						</div>
					</a>
				</li>
				<li>
					<a href="" class="feedback">
						<div>
							意见反馈
						</div>
					</a>
				</li>
				<li>
					<a href="" class="backtop">
						<div>
							返回顶部
						</div>
					</a>
				</li>
			</ul>
		</div>
	</body>
</html>
