<extend file='index.html'/>
<block name="content">
        <link href="{{__ROOT__}}/web/admin/view/Widget/icheck/icheck.css" rel="stylesheet" type="text/css" />
		<!--[if IE 7]>
		<![endif]-->
        <!--[if lte IE 8]>
		<![endif]-->

		<!-- page specific plugin scripts -->
		<script src="{{__ROOT__}}/web/admin/view/assets/js/jquery.dataTables.min.js"></script>
		<script src="{{__ROOT__}}/web/admin/view/assets/js/jquery.dataTables.bootstrap.js"></script>
        <script type="text/javascript" src="{{__ROOT__}}/web/admin/view/js/H-ui.js"></script>
        <script type="text/javascript" src="{{__ROOT__}}/web/admin/view/js/H-ui.admin.js"></script>
         <script src="{{__ROOT__}}/web/admin/view/assets/dist/echarts.js"></script>
         <script src="{{__ROOT__}}/web/admin/view/js/lrtk.js" type="text/javascript"></script>


    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="{{u('index/index')}}">首页</a>
            </li>
            <li class="active"><span class="Current_page iframeurl" name="{{u('brands/index')}}" style="color: rgb(51, 51, 51); cursor: default;">品牌管理</span></li>
            <li class="active" id="parentIframe" style="display: none;"><span class="parentIframe iframeurl"> </span></li>
            <li class="active" id="parentIfour" style="display: none;"></li>
        </ul>
    </div>
<div class="page-content clearfix">
  <div id="brand_style">
      <br/>
     <div class="border clearfix">
       <span class="l_f">
        <a href="{{u('Brands/addBrand')}}"  title="添加品牌" class="btn btn-warning Order_form"><i class="icon-plus"></i>添加品牌</a>
       </span>
       <span class="r_f">共：<b>{{count($data)}}</b>个品牌</span>
     </div>
    <!--品牌展示-->
     <div class="brand_list clearfix" id="category">
     <div class="show_btn" id="rightArrow"><span></span></div>
     <div class="chart_style side_content">
     <div class="side_title"><a title="隐藏" class="close_btn"><span></span></a></div>
         <div id="main" style="height:300px;" class="side_list"></div>
     </div>
     <!--品牌列表-->
      <div class="table_menu_list">
       <table class="table table-striped table-bordered table-hover" id="sample-table" style="overflow: scroll;">
		<thead>
		 <tr>
				<th width="3%"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
				<th width="5%">ID</th>
				<th width="5%">排序</th>
				<th width="5%">品牌LOGO</th>
				<th width="5%">品牌名称</th>
				<th width="5%">是否热门</th>
				<th width="5%">状态</th>
				<th width="20%">操作</th>
			</tr>
		</thead>
	<tbody>
		<foreach from="$data" key = "$key" value = "$value">
            <tr>
                <td><label><input type="checkbox" class="ace" ><span class="lbl"></span></label></td>
                <td>{{$value['brands_id']}}</td>
                <td><input type="text" readonly class="input-text text-c" value="{{$value['brands_sort']}}" style="width:60px"></td>
                <td><img src="{{__ROOT__}}/{{$value['brands_logo']}}"  width="130"/></td>
                <td><a href="javascript:ovid()" name="Brand_detailed.html" style="cursor:pointer;color: #428bca;" class="text-primary brond_name" onclick="generateOrders('{{$value['brands_id']}}');" title="{{$value['brands_name']}}">{{$value['brands_name']}}</a></td>
                <td>是</td>
                <td class="td-status">
                    <?php if($value['brands_status']){ ?>
                        <span class="label label-success radius">已启用</span>
                    <?php }else{ ?>
                        <span class="label label-defaunt radius">已停用</span>
                    <?php } ?>
                </td>
                <td class="td-manage"  style="padding-left: 0;">
                    <?php if($value['brands_status']){ ?>
                        <a onClick="member_stop(this,'{{$value["brands_id"]}}')"  href="javascript:;" title="停用"  class="btn btn-xs btn-success"><i class="icon-ok bigger-120"></i></a>
                    <?php }else{ ?>
                        <a style="text-decoration:none" class="btn btn-xs " onclick="member_start(this,'{{$value["brands_id"]}}')" href="javascript:;" title="启用"><i class="icon-ok bigger-120"></i></a>
                    <?php } ?>

                    <a title="编辑" onclick="member_edit('编辑','{{u('brands/edit',array('brands_id'=>$value['brands_id']))}}','{{$value["brands_id"]}}','550','510')" href="javascript:;"  class="btn btn-xs btn-info" ><i class="icon-edit bigger-120"></i></a>
                    <a title="删除" href="javascript:;"  onclick="member_del(this,'{{$value["brands_id"]}}')" class="btn btn-xs btn-warning" ><i class="icon-trash  bigger-120"></i></a>
                </td>
            </tr>
        </foreach>
        </tbody>
        </table>
      </div>
     </div>
    
  </div>
</div>

<script>
    //初始化宽度、高度
    $(function () {
        $(".chart_style").height($(window).height()-215);
        $(".table_menu_list").height($(window).height()-260);
        $('.table_menu_list').css('overflow','scroll');
        $(".table_menu_list ").width($('#iframe').width()-440);
        $("#sample-table").width($(".table_menu_list").width());
    })



jQuery(function($) {
    jQuery(function($) {

        $('#sample-table').DataTable( {
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
//            pageLength: 5,//这是设置默认长度
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0,3,4,7]}// 制定列不参与排序
            ],
            "lengthMenu": [[2, 4, 6, -1], [2, 4, 6, "All"]]

        } );
        $('table th input:checkbox').on('click' , function(){
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                    .each(function(){
                        this.checked = that.checked;
                        $(this).closest('tr').toggleClass('selected');
                    });
        });
    });
			
			
				$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();
			
					var off2 = $source.offset();
					var w2 = $source.width();
			
					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}
			});



  //当文档窗口发生改变时 触发
    $(window).resize(function(){
         $(".chart_style").height($(window).height()-215);
        $(".table_menu_list").height($(window).height()-355);
        $('.table_menu_list').css('overflow','scroll');
        $(".table_menu_list ").width($('#iframe').width()-440);
         $("#sample-table").width($(".table_menu_list").width());
	});
//这是当左边显示隐藏的时候，改变右边div的大小
$('#sidebar-collapse').click(function () {
    if($('#sidebar').width() == 42){//说明点击的时候他是缩小着的
        $(".table_menu_list ").width(1159-440);
        $("#sample-table").width($(".table_menu_list").width());
    }else{
        $(".table_menu_list ").width(1306-440);
        $("#sample-table").width($(".table_menu_list").width());
    }

//         $(".recording_style").width($('.main-content').width()-400);
})
	//图层隐藏限时参数		 
$(function() { 
	$("#category").fix({
		float : 'left',
		//minStatue : true,
		skin : 'green',	
		durationTime :false,
		stylewidth:'400',
		spacingw:30,//设置隐藏时的距离
	    spacingh:440,//设置显示时间距
	});
});
//面包屑返回值
var index = parent.layer.getFrameIndex(window.name);
parent.layer.iframeAuto(index);
$('.Order_form ,.brond_name').on('click', function(){
	var cname = $(this).attr("title");
	var cnames = parent.$('.Current_page').html();
	var herf = parent.$("#iframe").attr("src");
    parent.$('#parentIframe span').html(cname);
	parent.$('#parentIframe').css("display","inline-block");
    parent.$('.Current_page').attr("name",herf).css({"color":"#4c8fbd","cursor":"pointer"});
	//parent.$('.Current_page').html("<a href='javascript:void(0)' name="+herf+">" + cnames + "</a>");
    parent.layer.close(index);

});
function generateOrders(id){
	window.location.href = "{{u('brands/brands_info')}}&brands_id="+id;
};
/*品牌-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
        $.post("{{u('brands/status')}}",{'brands_status':0,'brands_id':id},function () {
        },'json')
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn btn-xs " onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="icon-ok bigger-120"></i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
		$(obj).remove();
		layer.msg('已停用!',{icon: 5,time:1000});
	});
}

/*用户-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
        $.post("{{u('brands/status')}}",{'brands_status':1,'brands_id':id},function () {
        },'json')
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn btn-xs btn-success" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="icon-ok bigger-120"></i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
		$(obj).remove();
		layer.msg('已启用!',{icon: 6,time:1000});
	});
}
/*品牌-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*品牌-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
        $.post("{{u('brands/del')}}",{'id':id},function (res) {
            if(res.valid == 0){
                layer.alert(res.message)
                return;
            }
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        },'json')

	});
}


</script>
 <script type="text/javascript">
        require.config({
            paths: {
                echarts: '{{__ROOT__}}/web/admin/view/assets/dist'
            }
        });
        require(
            [
                'echarts',
                'echarts/chart/pie',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
                'echarts/chart/funnel'
            ],
            function (ec) {
                var myChart = ec.init(document.getElementById('main'));
			
			option = {
    title : {
        text: '商品是否热门比例',
        subtext: '',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : 'left',
        data:['热门','不热门']
    },
    toolbox: {
        show : false,
        feature : {
            mark : {show: false},
            dataView : {show: false, readOnly: false},
            magicType : {
                show: true, 
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'left',
                        max: 545
                    }
                }
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'品牌数量',
            type:'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:"{{$hot}}", name:'热门'},
                {value:"{{$nothot}}", name:'不热门'},

            ]
        }
    ]
};
   myChart.setOption(option);
			}
);
</script>
</block>